@font-face {
    font-family: 'Land Rover OT4';
    src: url('LandRoverOT4-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Land Rover OT4';
    src: url('LandRoverOT4-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

